{% extends 'base.html.twig' %}

{% block title %}Edit User Password{% endblock %}

{% block body %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning mt-4" role="alert">
        {{ message }}
    </div>
{% endfor %}

<section class="section-wrapper">
    <h1>Edit User Password</h1>
    
    <div class="formulaire-wrapper">
        {{ form_start(form) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.newPassword, {
            label: 'New Password'
        }) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
</section>

{% endblock body %}